      </main>
    </div>
    <footer class="app-footer">
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutzerklärung</a>
      <a href="/kontakt">Kontakt</a>
      <a href="/cookies">Cookie-Hinweise</a>
    </footer>
    <script src="/static/js/app.js"></script>
  </body>
</html>
