<%- include('../partials/top', { pageTitle }) %>

<section class="card border-0 shadow-sm">
  <div class="card-body">
    <div class="prose-block"><%- (content || '').replace(/\n/g, '<br />') %></div>
  </div>
</section>

<%- include('../partials/bottom') %>
